@font-face {
  font-family: "Comic Sans MS";
  src: url("ComicSansMS3.ttf");
}
body {
  background: lime;
  color: fuchsia;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 60px;
  color: crimson;
}

h2 {
  font-size: 45px;
  color: crimson;
}

section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
section:nth-child(2n) {
  background: darkgray;
  color: black;
}
section:nth-child(2n) h1, section:nth-child(2n) h2 {
  color: cyan;
}

img {
  width: 720px;
  max-width: 100%;
  height: auto;
}

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1.2);
  }
}
.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.pulse {
  display: inline-block;
  animation: pulse 1.25s linear infinite;
}